
  /* estilos cards */


  .cards-container{
    background: #FFF;
    border-radius: 20px;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 5% auto; /* Auto para el margen horizontal, 5% para el margen superior e inferior */
    box-shadow: -20px 20px 40px rgba(15, 18, 106, 0.34);
    top: 50%;
    left: 50%;
    min-height: 600px;
    display: flex;
    flex-direction: column; /* Asegúrate de que el contenido se coloque en columnas */
    align-items: center;
  }
  
  .cards-container-autentificacion{
    background: #FFF;
    border-radius: 20px;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 5% auto; /* Auto para el margen horizontal, 5% para el margen superior e inferior */
    box-shadow: -20px 20px 40px rgba(15, 18, 106, 0.34);
    top: 50%;
    left: 50%;
    min-height: 600px;
    display: flex;
    flex-direction: column; /* Asegúrate de que el contenido se coloque en columnas */
    align-items: center;
    justify-content: center;
  }
  

.dashboard-container{
  background: #FFF;
    border-radius: 20px;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 5% auto; /* Auto para el margen horizontal, 5% para el margen superior e inferior */
    box-shadow: -20px 20px 40px rgba(15, 18, 106, 0.34);
    top: 50%;
    left: 50%;
    min-height: 600px; 
}
.dashboard2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -10px 10px 30px rgba(15, 18, 106, 0.1);
  align-items: center;
}


.card-content {
  padding: 10px;
  align-items: center;
}

.titulod {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin-bottom: 10px; 
  color: #141537;
  font-weight: bold;
}



/* SCROLLBAR */
.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}



.tabla-scroll {
  max-height: 200px; /* Altura máxima de la tabla */
  overflow-y: auto; /* Activar la barra de desplazamiento vertical si es necesario */
  overflow-x: auto; /* Activar la barra de desplazamiento horizontal si es necesario */
  margin-right: 30px;
}

/* CARD TABLE */

.title {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.TableCard {
  padding: 10px; /* Aumenté el padding alrededor del contenedor principal */
  align-items: center;
  overflow: hidden;
  width: auto;
  height: auto;
  
}
.tabla-scroll{
  padding-left: 30px;
}
.tabla-scroll table {
  font-size: 15px;
  padding-left: 5px;
  margin-right: 10px;
  width: 100%;
  border-collapse: collapse;
  align-items: center;
  margin: 20px;
}
.TableCard p{
  font-size: 25px;
  font-weight:bold;
}

.tabla-scroll table th {
  background-color: #B7C6FF;
  align-items: center;
  color: #FFF;
  width: auto;
  text-align: center;
}
.tabla-scroll table td{
  align-items: center;
  background-color: #EBEFFF;
  padding: 8px;
  text-align: center;
}


