/* Suscripciones.css */

.tabla-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tabla {
    width: 100%;
    font-family: 'Inter', sans-serif;
    overflow-x: auto; /* Permite desplazar horizontalmente en caso de contenido ancho */
  }
  
  .tabla table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla th, .tabla td {
    padding: 8px;
    text-align: center;
  }
  
  .tabla thead {
    background-color: #B7C6FF;/* Color de fondo para los encabezados */
    color: #FFF;
  }
  
  .tabla {
    max-height: 400px; /* Ajusta según sea necesario */
    overflow-y: auto;
  }
  /* Otros estilos que puedas tener... */
  

/* Suscripciones.css */
.ventana-flotante {
    width: 90%; /* Establece el ancho al 90% del ancho del contenedor padre */
    max-width: 600px; /* Limita el ancho máximo a 600px */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #B7C6FF;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
  }
  
  
/* Estilos para los inputs en la ventana flotante */
.ventana-content label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px
  }
  
  .ventana-content input {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 8px;
    margin: 4px;
    max-height: 25px;
    border: 2.5px solid #B7C6FF; /* Color inicial del borde */
    border-radius: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s; /* Agrega una transición para suavizar el cambio de color */
    outline: none;
  }
  
  /* Estilos para los títulos en la ventana flotante */
  .ventana-content h3 {
    font-family: 'Inter', sans-serif;
    color: #141537;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 700;

  }
  
  .ventana-flotante h3{
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  /* Estilos para los botones en la ventana flotante */
.ventana-content button {
    background-color: #859bf0;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .ventana-content button:hover {
    background-color: #6175c1;
   
  }
  .content{
    display: flex;
  }
  .content-2{
    margin: 0px 40px;
    text-align: center;
  }
  
  .content-2 i {
    font-size: 120px;
    color: #B7C6FF;
    border: 4px solid #B7C6FF;
    border-radius: 50%;
    display: inline-block;
    width: 135px;
    height: 135px;
    line-height: 130px; /* Alinear verticalmente */
    text-align: center; /* Alinear horizontalmente */
    margin: 10px;
    box-sizing: border-box;
  }